.app_font{
    font-size: 14px;
    font-weight: 600;
}
.app_font_lg{
    font-size: 16px;
    font-weight: 600;
}

.app_font_md{
    font-size: 13px;
    font-weight: 600;
    color: #545454;
}

.message_media_image{
    max-width: 40%;
    object-fit: cover;
    height: fit-content;
    max-height: 50%;
}
.message_item{

}

.user_status_dot{
        margin-left: -20px;
        min-width: 12 px;
        min-height: 12 px;
        width: 12 px;
        height: 12 px;
        z-index: 999;
}
.user-item:hover{
    background-color: #e7e7e7;
    border-radius: 12px;
}


#message_text_area{
    font-size: 13pt;
}
#type_message_footer{
    display: none;
}