<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments :: style}"></head>



<body id="kt_body" class="header-fixed header-mobile-fixed page-loading">
<!--<div th:replace="~{fragments :: nav_bar}"></div>-->
<input type="hidden" id="auth_user_image" th:value="${#authentication.principal.image}" />
<input type="hidden" id="auth_user_id" th:value="${#authentication.principal.id}" />


<!--begin::Main-->

<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="d-flex flex-row flex-column-fluid page">
        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">


            <!--begin::Content-->
            <div class="content  d-flex flex-column flex-column-fluid" id="kt_content"  >
                <div class=" ">
                    <!--begin::Entry-->
                    <div class="d-flex flex-column-fluid">
                        <!--begin::Container-->
                        <div class=" container ">
                            <!--begin::Chat-->
                            <div class="card d-flex flex-row">
                                <!--begin::Aside-->
                                <div class="flex-row-auto offcanvas-mobile w-320px w-xl-320px" id="kt_chat_aside" >
                                    <!--begin::Card-->
                                    <div class=" card-custom">
                                        <!--begin::Body-->
                                        <div class="card-body px-2">
                                            <!--begin:Search-->
                                            <div class="input-group input-group-solid">
                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                           <i class="flaticon-search"></i>
                                                        </span>
                                                </div>
                                                <input type="text" class="form-control py-4 h-auto"  placeholder="Search" />
                                            </div>
                                            <!--end:Search-->

                                            <!--begin:Users-->
                                            <div class="mt-7 scroll scroll-pull" id="users_chat">
                                                <div th:switch="${users}" >


                                                <!--begin:User-->

                                                <!--end:User-->
                                                </div>

                                            </div>
                                            <!--end:Users-->
                                        </div>
                                        <!--end::Body-->
                                    </div>
                                    <!--end::Card-->
                                </div>
                                <!--end::Aside-->

                                <!--begin::Content-->
                                <div class="flex-row-fluid" id="kt_chat_content">
                                    <!--begin::Card-->
                                    <div class=" card-custom" style="border-left: 5px solid #f3f3f3">
                                        <!--begin::Header-->
                                        <div class="card-header align-items-center px-4 py-3">
                                            <div class="text-left flex-grow-1">
                                                <!--begin::Aside Mobile Toggle-->
                                                <button type="button"  class="btn btn-clean btn-sm btn-icon btn-icon-md d-lg-none"   id="kt_app_chat_toggle">
                                                    <i class="flaticon2-chat icon-2x"></i>
                                                </button>
                                                <!--end::Aside Mobile Toggle-->


                                            </div>
                                            <div class="text-center flex-grow-1">
                                                <input type="hidden" id="selected_user_id" value="" />
                                                <div class="symbol symbol-circle symbol-40 mr-3" id="selected_user_image">
                                                    <img alt="Pic" src="media/user_placeholder.jpg" />
                                                </div>
                                                <div class="text-dark-75 app_font_lg" id="selected_user_name"></div>
                                                <div>
                                                    <span class="label label-sm label-dot label-success"></span>
                                                    <span class="font-weight-bold text-muted font-size-sm" id="selected_user_status"></span>
                                                </div>
                                            </div>
                                            <div class="text-right flex-grow-1">
                                                <!--begin::Dropdown Menu-->
                                                <div class="dropdown dropdown-inline">
                                                    <button type="button"  class="btn btn-clean btn-sm btn-icon btn-icon-md"  data-toggle="dropdown" aria-haspopup="true"   aria-expanded="false">
                                                        <i class="flaticon2-list-1 icon-2x"></i>
                                                    </button>
                                                    <div
                                                            class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-md">
                                                        <!--begin::Navigation-->
                                                        <ul class="navi navi-hover py-5">
                                                            <li class="navi-item">
                                                                <a href="#" class="navi-link">
                                                                    <span class="navi-icon"><i class="flaticon2-drop"></i></span>
                                                                    <span class="navi-text">New Group</span>
                                                                </a>
                                                            </li>
                                                            <li class="navi-item">
                                                                <a href="#" class="navi-link">
                                                                        <span class="navi-icon"><i
                                                                                class="flaticon2-list-3"></i></span>
                                                                    <span class="navi-text">Contacts</span>
                                                                </a>
                                                            </li>
                                                            <li class="navi-item">
                                                                <a href="#" class="navi-link">
                                                                    <span class="navi-icon"><i  class="flaticon2-rocket-1"></i></span>
                                                                    <span class="navi-text">Groups</span>
                                                                    <span class="navi-link-badge">
                                                                            <span class="label label-light-primary label-inline font-weight-bold">new</span>
                                                                        </span>
                                                                </a>
                                                            </li>


                                                            <li class="navi-separator my-3"></li>

                                                            <li class="navi-item">
                                                                <a href="#" th:href="@{/logout}" class="navi-link text-danger">
                                                                        <span class="navi-icon"><i class="flaticon-logout text-danger"></i></span>
                                                                    <span class="navi-text text-danger">Logout</span>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                        <!--end::Navigation-->
                                                    </div>
                                                </div>
                                                <!--end::Dropdown Menu-->
                                            </div>
                                        </div>
                                        <!--end::Header-->

                                        <!--begin::Body-->
                                        <div class="card-body py-0">
                                            <!--begin::Scroll-->
                                            <div class="scroll scroll-pull " data-mobile-height="350"  id="scrollable_div">
                                                <!--begin::Messages-->
                                                <div class="messages" id="private_messages_box">

                                                </div>
                                                <!--end::Messages-->
                                            </div>
                                            <!--end::Scroll-->
                                        </div>
                                        <!--end::Body-->

                                        <!--begin::Footer-->
                                        <div class="card-footer align-items-center" >
                                            <!--begin::Compose-->
                                            <div id="type_message_footer">
                                                <form enctype="multipart/form-data" method="post" name="messageForm" id="messageForm">


                                                </form>
                                                <div class="image-input image-input-outline" id="kt_image_4" style="display:none;">
                                                    <div class="image-input-wrapper"  ></div>
    
                                                    <label class="btn btn-icon btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                        <i class="fas fa-regular fa-camera"></i>
                                                        <input type="file" name="media" id="media" accept=".png, .jpg, .jpeg"/>
                                                        <input type="hidden" name="profile_avatar_remove"/>
                                                    </label>
    
                                                    <span class="btn btn-icon btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                                        <i class="fa fa-regular fa-circle-xmark"></i>
                                                    </span>
                                                </div>
                                                <textarea id="message_text_area" class="form-control border-0 p-0" rows="1"  placeholder="Type a message"></textarea>
                                                <div class="d-flex align-items-center justify-content-between mt-5">
                                                    <div class="mr-3">
                                                        <button id="toggle_upload_image" class="btn btn-clean btn-icon btn-md mr-1"><i class="flaticon2-photograph icon-lg"></i></button>
                                                        <a href="#" class="btn btn-clean btn-icon btn-md"><i class="flaticon2-photo-camera  icon-lg"></i></a>
                                                    </div>
                                                    <div>
                                                        <button id="btn_send_message" class="btn btn-primary btn-md text-uppercase font-weight-bold py-2 px-6">Send</button>
                                                    </div>
                                                </div>
                                            </div>
                                          
                                            <!--begin::Compose-->
                                        </div>
                                        <!--end::Footer-->
                                    </div>
                                    <!--end::Card-->
                                </div>
                                <!--end::Content-->
                            </div>
                            <!--end::Chat-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Entry-->
                </div>

            </div>
            <!--end::Content-->


        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<!--end::Main-->










<!--
<script type="text/javascript" th:src="@{/js/prismjs.bundle.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins.bundle.js}"></script>
<script type="text/javascript" th:src="@{/js/scripts.bundle.js}"></script>


<script type="text/javascript" th:src="@{/js/stomp.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sockjs.min.js}"></script>

<script type="text/javascript" th:src="@{/js/chat.js}"></script>-->

<script th:src="@{/assets/plugins/global/plugins.bundle.js}"></script>
<script th:src="@{/assets/plugins/custom/prismjs/prismjs.bundle.js}"></script>
<script th:src="@{/assets/js/scripts.bundle.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/chat.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/stomp.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/sockjs.min.js}"></script>

</body>

</html>
